<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="product" id="product">
    <form name="frm2" class="card p-3">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">모델코드</span>
                    <input type="text" class="form-control" list="moldelList" id="model-code" name="modelCode"
                           maxlength='16' oninput='isEng(this)'/>
                    <datalist id="moldelList">
                        <option value="ZZZ"/>
                        <option value="REZ"/>
                        <option value="3"/>
                        <option value="4"/>
                        <option value="5"/>
                        <option value="6"/>
                    </datalist>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">구매일</span>
                    <input class="form-control" type="date" name="createdAt">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">상품분류</span>
                    <input class="form-control" name="productCode" id="product-code" maxlength='16'
                           oninput='isKor(this)'/>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">보증기간</span>
                    <select class="form-select" name="productLife">
                        <option selected></option>
                        <option value="before">보증이내</option>
                        <option value="after">보증이후</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">상품명</span>
                    <input class="form-control" name="productName" id="product-name" maxlength='16'
                           autocomplete='off' oninput='isKor(this)'/>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">제조번호</span>
                    <input class="form-control" name="productNumber" maxlength='16' id="test-enter">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 col-sm-6 col-md-6">
                <div class="input-group">
                    <span class="input-group-text">모델명</span>
                    <input class="form-control" name="modelName" id="model-name" maxlength='16'>
                </div>
            </div>
        </div>
    </form>
    <script th:inline="javascript">


        document.getElementById('model-code').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                const query = document.querySelector("[name='modelCode']").value;
                const key = "ModelCode";
                $.ajax({
                    type: "get",
                    data: {query, key},
                    url: "/product/read",
                    dataType: "json",
                    success: function (data) {
                        document.querySelector("[name='modelCode']").value = data.modelCode;
                        document.querySelector("[name='productCode']").value = data.productCode;
                        document.querySelector("[name='productName']").value = data.productName;
                        $.ajax({
                            type: "get",
                            data: {pid: data.id},
                            url: "/symptoms/findByPid",
                            success: function (data) {
                                $('#selectList').empty();
                                console.log(data);
                                for (let i in data) {
                                    $('#selectList').append(`<option value="${data[i].symptoms}"/>`);
                                }
                            }, error: function () {
                                $("#select-id option").remove();
                            }
                        })
                    }
                })
            }
        });


        document.getElementById('product-code').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                const query = document.querySelector("[name='productCode']").value;
                const key = "productCode";
                $.ajax({
                    type: "get",
                    data: {query, key},
                    url: "/product/read",
                    dataType: "json",
                    success: function (data) {
                        document.querySelector("[name='modelCode']").value = data.modelCode;
                        document.querySelector("[name='productCode']").value = data.productCode;
                        document.querySelector("[name='productName']").value = data.productName;
                        $.ajax({
                            type: "get",
                            data: {pid: data.id},
                            url: "/symptoms/findByPid",
                            success: function (data) {
                                $('#selectList').empty();
                                console.log(data);
                                for (let i in data) {
                                    $('#selectList').append(`<option value="${data[i].symptoms}"/>`);
                                }
                            }, error: function () {
                                $("#select-id option").remove();
                            }
                        })
                    }
                })
            }
        });

        document.getElementById('product-name').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                const query = document.querySelector("[name='productName']").value;
                const key = "productName";
                $.ajax({
                    type: "get",
                    data: {query, key},
                    url: "/product/read",
                    dataType: "json",
                    success: function (data) {
                        document.querySelector("[name='modelCode']").value = data.modelCode;
                        document.querySelector("[name='productCode']").value = data.productCode;
                        document.querySelector("[name='productName']").value = data.productName;
                        $.ajax({
                            type: "get",
                            data: {pid: data.id},
                            url: "/symptoms/findByPid",
                            success: function (data) {
                                $('#selectList').empty();
                                console.log(data);
                                for (let i in data) {
                                    $('#selectList').append(`<option value="${data[i].symptoms}"/>`);
                                }
                            }, error: function () {
                                $("#select-id option").remove();
                            }
                        })
                    }
                })
            }
        });

        document.getElementById('model-name').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                const query = document.querySelector("[name='modelName']").value;
                const key = "modelName";
                $.ajax({
                    type: "get",
                    data: {query, key},
                    url: "/product/read",
                    dataType: "json",
                    success: function (data) {
                        document.querySelector("[name='modelCode']").value = data.modelCode;
                        document.querySelector("[name='productCode']").value = data.productCode;
                        document.querySelector("[name='productName']").value = data.productName;
                        document.querySelector("[name='modelName']").value = data.modelName;
                        $.ajax({
                            type: "get",
                            data: {pid: data.id},
                            url: "/symptoms/findByPid",
                            success: function (data) {
                                $('#selectList').empty();
                                for (let i in data) {
                                    console.log(i);
                                    $('#selectList').append(`<option value="${data[i].symptoms}"/>`);
                                }
                            }, error: function () {
                                $("#select-id option").remove();
                            }
                        })
                    }
                })
            }
        })

        function isEng(item) {
            item.value = item.value.replace(/[^A-Za-z]/ig, '')
        }

        function isKor(item) {
            item.value = item.value.replace(/[^ㄱ-ㅎ|가-힣]/g, '')
        }

        // ex) A20231011BE
        document.getElementById('test-enter').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                let pnumber = document.querySelector("[name='productNumber']").value;
                if (pnumber.length == 11) {
                    let fpnumber = pnumber.slice(0, 5) + '-' + pnumber.slice(5, 7) + '-' + pnumber.slice(7, 11);
                    document.querySelector("[name='createdAt']").value = fpnumber.substring(1, 11);
                }
            }
        });
    </script>
</div>
</body>
</html>
