<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<!--<div th:replace="~{component/header :: header}"></div>-->
<!--<div th:replace="~{component/nav :: nav}"></div>-->

<div class="container">
  <div th:replace="~{main/product :: product}"></div>
  <input type="text" class="form-control" id="model" name="modelCode" maxlength='16'>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>

</body>
<script th:inLine="javascript">
  document.getElementById('model').addEventListener('keyup', function (event) {
    if (event.key == 'Enter') {
      alert(".....");
    }
  });
</script>
</html>